.header {
    height: 100vh;
    background-color: #000;

    background-image: url("../img/header/background-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.picure__logo {
    display: flex;
    justify-content: center;

    .logo {
        width: 25rem; /* 400px  */
        margin-top: 2rem;


    }
}

.nav {
    margin-top: 2rem;

    .nav__itens {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nav__link {
        background-color: #BE1D23;
        padding: .4rem .8rem;
        border-radius: 5px;
        border: 1px solid #fff;


            &:hover {
                transition: all .5s;
                background-color: #fff;
                border: 1px solid #BE1D23;
            }

            &:hover .nav__item {
                color: #000;
            }
    }
    
    .nav__item {
        color: #fff;
        font-family: $fonte-menu;
        text-align: center;
        font-size: 1.2rem;
    }


}

